.back-btn {
  color: white;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  width: 60%;
  margin: auto;
  text-align: right;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
}

.back-btn:hover {
  color: rgb(126, 232, 196);
}

@media (min-width: 320px) and (max-width: 425px) {
  .barElement {
    height: 90%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .barElement {
    width: 80%;
  }
}
