.dailyData {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.oneCurrency {
  background-color: rgb(255, 0, 102);
  /* background-color:blue; */
  width: 80%;
  margin: auto;
  padding-bottom: 3%;
}

.moreDetails {
  background-color: black;
  padding: 0 30px;
  
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.span {
  vertical-align: center;
  text-align: center;
}