.contact-footer {
  display: flex;
  width: 95%;
  bottom: 0;
  margin: auto;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  background-color: transparent;
}

.footer-links-social {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.social {
  text-align: center;
  color: white;
}
