.NavBar {
  margin-bottom: 20px;
  justify-content: space-between;
}

.brand {
  color: white;
  font-weight: bold;
  padding: 20px
}

.select {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: rgb(255, 0, 102);
  color: white;
  outline: none;
  font-weight: bold;
}