.search {
  width: 60%;
  height: 25px;
  padding: 10px;
  background-color: rgb(255, 0, 102);
  color: white;
  outline: none;
  font-weight: bold;
  margin-bottom: 30px;
  align-items: center;
}

.Nav {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: center;
}

.fa-arrow-left {
  color: white;
  font-size: 25px;
  align-self: center;
  margin-top: 40px;
}
