@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.homepage {
  height: 100vh;
}

.Nav {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.brand {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  font-family: 'Borel', cursive;
}

.refresh {
  border-radius: 25px;
  border: 2px solid aquamarine;
  background-color: aquamarine;
  cursor: pointer;
  padding: 5px 5px;
  height: 30px;
  /* width: 0px; */
  margin-right: 30px;
  transition: 0.5s;
  align-self: center;
  margin-bottom: 20px;
}

.refresh:hover {
  background-color: transparent;
  color: white;
}

.refresh:active {
  color: transparent;
  background-color: white;
}

.searchContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: flex-end;
  align-self: center;
  margin-bottom: 30px;
  align-content: end;
}

.search {
  height: 20px;
  padding: 10px;
  border: 2px solid aqua;
  border-radius: 35px;
  color: white;
  outline: none;
  font-size: 16px;
  margin-bottom: 30px;
  align-self: flex-end;
  background-color: transparent;
}

::placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
}

.fa-arrow-left {
  color: white;
  font-size: 25px;
  align-self: center;
  margin-top: 40px;
}
