.NavBar {
  display: flex;
  justify-content: center;
  margin: auto;
}

.brand {
  color: white;
  font-weight: bold;
  padding: 20px;
}

.allCryto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  column-gap: 15px;
  row-gap: 15px;
}

.individualCryptoTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5%;
  cursor: pointer;
  transition: 1s;
  font-weight: bold;
  border: 1px solid rgb(255, 0, 102);
  color: white;
  text-decoration: none;
}

.individualCryptoTile:hover {
  background-color: rgb(255, 0, 102);
}

.fa-arrow-right {
  color: white;
  border: 2px solid white;
  padding: 3px;
  border-radius: 50%;
  position: relative;
  left: 15%;
}

@media (max-width: 420px) {
  .individualCryptoTile {
    padding: 25% 5%;
  }

  .p {
    font-size: 12px;
  }

  .allCryto {
    width: 90%;
  }
}
