.allCryto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
  column-gap: 15px;
  row-gap: 15px;
}

.individualCryptoTile {
  padding: 50px 50px;
  cursor: pointer;
  transition: 1s;
  font-weight: bold;
  border: 1px solid rgb(255, 0, 102);;
}

.individualCryptoTile:hover {
  background-color: rgb(255, 0, 102);
}